{% extends 'fashion/base.html' %}
{% load static %}
{% block content %}

<section class="welcome_area bg-img background-overlay"  style="background-image:url({% static 'fashion/img/bg-img/xbg-1.jpg.pagespeed.ic.463G_1Qpe0.jpg' %})">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="hero-content">
<h6>asos</h6>
<h2>New Collection</h2>
<a href="#" class="btn essence-btn">view collection</a>
</div>
</div>
</div>
</div>
</section>


<div class="top_catagory_area section-padding-80 clearfix">
<div class="container">
<div class="row justify-content-center">
{% for cat in categories %}
<div class="col-12 col-sm-6 col-md-4">
<div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
     style="background-image:url(/media/{{cat.image}})">
<div class="catagory-content">
<a href="#">{{cat.name}}</a>
</div>
</div>
</div>
 {% endfor %}

</div>
</div>
</div>


<div class="cta-area">
<div class="container">
<div class="row">
    {% for sale in sales %}
<div class="col-12">
    <div class="section-heading text-center">
<h2>GLOBAL SALE</h2>
</div>
<div class="cta-content bg-img background-overlay" style="background-image:url(/media/{{sale.image}}); width: 100%!important; " >
<div class="h-100 d-flex align-items-center justify-content-end">
<div class="cta--text">
<a   href="#" class="btn essence-btn" >{{sale.discount}}</a>
<h2>{{sale.product_name}}</h2>
<a href="#" class="btn essence-btn">Buy Now</a>
</div>
</div>
</div>
</div>
    {% endfor %}
</div>
</div>
</div>


<section class="new_arrivals_area section-padding-80 clearfix">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section-heading text-center">
<h2>Popular Products</h2>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-12">
<div class="popular-products-slides owl-carousel">

    {% for pop in popular_product%}
<div class="single-product-wrapper">

<div class="product-img">
<img src="/media/{{pop.image}}" alt="">

<img class="hover-img" src="/media/{{pop.image}}" alt="">

<div class="product-favourite">
<a href="#" class="favme fa fa-heart"></a>
</div>
</div>

<div class="product-description">
<span>{{pop.brands}}</span>
<a href="single-product-details.html">
<h6>{{pop.name}}</h6>
</a>
<p class="product-price">${{pop.price}}</p>

<div class="hover-content">

<div class="add-to-cart-btn">
<a href="#" class="btn essence-btn">Add to Cart</a>
</div>
</div>
</div>
</div>
    {% endfor %}


</div>
</div>
</div>
</div>
</section>


<div class="brands-area d-flex align-items-center justify-content-between">
    {% for br in brands %}
<div class="single-brands-logo">
<img src="/media/{{br.image}}" alt="">
</div>
    {% endfor %}

</div>

{% endblock content %}

